@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&family=Raleway:ital,wght@0,100;1,600&display=swap');

.NavigationMenuRoot {
  display: flex;
  height: auto;
  background-color: #ffff;
  position: relative;
  width: 100vw;
  z-index: 1;
}
.NavigationMenuList {
  display: flex;
  justify-content: center;
  padding-top: 4px;
  list-style: none;
  border-radius: 6px;
  box-shadow: 0 2px 10px var(--black-a7);
  margin: 0;
}

.NavigationMenuTrigger{
  border: none;
  box-shadow: none;
  background-color: white;
  color: inherit;
}

.link{
  text-decoration: none; 
  color: inherit;
}
.icon{
  margin-right: 10px;
}
.features-dropdown, .Company-drop-down, .careers-header, .about-header{
  position: relative;
  border: none;
  margin: 30px 15px 0 15px;
}
.about-header, .careers-header, .NavigationMenuTrigger{
  font-weight: 400;
}
.logo{
  margin: 30px 25px 0 15px;
}
.careers-link, .about-link, .login-link, .register-link{
  text-decoration: none;
  color: inherit;
}
.sign-up-login{
  text-align: right;
  padding-left: 600px;
  display: block;
}
.register-link{
  color: black;
  border: 2px solid #555555;
  border-radius: 15px;
  padding: 12px;
 
}

.login-header, .register-header{
  position: relative;
  float: right;
  margin-top: 30px;
  margin-right: 30px;
  margin-left: 30px;
  
}

.features-drop-down-content{
  padding: 10px;
  background-color: #ffff;
  position: absolute;
  min-width: 160px;
  border-radius: 15px;
  padding: 12px 0px;
  border-style: ridge;
}
.company-drop-down-contents{
  background-color: #ffff;
  position: absolute;
  min-width: 140px;
  border-radius: 15px;
  padding: 12px 0px;
  text-align: left;
  border-style: ridge;
}
.to-do, .calender, .reminders, .planning{
  display: grid;
  padding-bottom: 10px;
  text-align: left;
  font-size: 14px;
}

.history, .our-team, .blog{
  padding: 3px ;
  display: grid;
  font-size: 14px;
}
.CaretDown {
  position: relative;
  color: var(--violet-10);
  top: 1px;
  transition: transform 250ms ease;
}
[data-state='open'] > .CaretDown {
  transform: rotate(-180deg);
  
}
.major-picture{
  height: 37rem;
  padding-right: 10rem;
  float: right;
  padding-top: 50px;
}
.major-text{
  font-size: 9vh;
  font-family: 'Jost', sans-serif;
  width: 400px;
  float: right;
  margin-right: 300px;
  margin-bottom: 20px;
  line-height: 4rem;
  padding-top: 150px;
  font-weight: 1000;
  
}
.container-2{
  float: right;
  margin-right:290px;
  
}
.more-text{
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  width: 400px;
  font-weight: 900;
  margin-bottom: 50px;
}

.learn-more-button{
  border: none;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  background-color: white;
  color: black;
  border: 2px solid #555555;
  width: 170px;
  font-weight: 700;
  font-size: 18px;
}
.botton-logos{
  padding-top: 50px ;
  float: right;
  margin-right:275px;
}

.databiz-picture, .audioPhile-picture, .meet-picture{
   padding-right: 23px; 
}
